#root {
  --main: #bdaa95;
  --second: #e3d8d2;
  --third: #cc7d55;
  --background: #797675;
  --off: #778d76;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: var(--main);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav {
  background-color: var(--background);
  border-bottom: none;
  font-size: 1.5vw;
}

.nav-item {
  background-color: var(--background);
  border-color: var(--background);
}

.nav-item:hover {
  border-color: var(--background);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: var(--main);
  border: none
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  border: none;
  color: white
}
