#root {
  --main: rgb(189, 170, 149);
  --second: #e3d8d2;
  --third: #cc7d55;
  --background: #797675;
  --off: #778d76;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: #bca994;

  background: linear-gradient(90deg, rgb(188, 169, 148) 23%, rgb(117, 117, 117) 100%);

  background: -moz-linear-gradient(90deg, rgb(188, 169, 148) 23%, rgb(117, 117, 117) 100%);

  background: -webkit-linear-gradient(90deg, rgb(188, 169, 148) 23%, rgb(117, 117, 117) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#BDAA95", endColorstr="#757575", GradientType=1);
}

.nav {
  border-bottom: none;
  font-size: 17px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(117, 117, 117, 0.5);
}

.nav-item:hover {
  border-color: var(--background);
  cursor: pointer;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: var(--main);
  border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  border: none;
  color: white;
  border-radius: 25px;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  border-radius: 25px;
}

.aboutMeText {
  font-size: 25px;
}

.aboutMe {
  margin-top: 30px;
}

.card {
  border-bottom: none;
  font-size: 17px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(117, 117, 117, 0.3);
  padding: 10px;
  border-radius: 25px;
}

.card-title {
  margin-top: 5px;
}

.card-img-top {
  border-radius: 25px 25px 0 0;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.btn{
  background-color: rgba(117, 117, 117, 0.0);
  border-radius: 0;
  border: none;
  border-top: 1px solid black;
  border-radius: 0 0 25px 25px;
}

.btn:hover {
  background-color: rgb(189, 170, 149, 0.5);
  border-radius: 0;
  border: none;
  border-top: 1px solid black;
  border-radius: 0 0 25px 25px;
}

.error::placeholder {
  color: red;
}

.contactBtn {
  border-radius: 25px;
  background-color: var(--main);
  border: none;
}

.contactBtn:hover {
  border-radius: 25px;
  background-color: var(--background);
  border: none;
  transition: 1s;
}

form {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(117, 117, 117, 0.3);
  padding: 10px;
  border-radius: 25px;
}

.resumeLink {
  text-decoration: underline;
}